---
site_name: Symplegma
site_description: Website and documentation for symplegma project
site_author: Particule.
site_url: https://particuleio.github.io/symplegma/

repo_name: particuleio/symplegma
repo_url: https://github.com/particuleio/symplegma

copyright: <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>

theme:
  name: 'material'
  logo: "images/logo-white.svg"
  features:
    - tabs
    - instant

markdown_extensions:
  - toc:
      permalink: true
  - markdown_include.include
  - admonition
  - codehilite
  - footnotes
  - meta
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_css:
  - stylesheets/extra.css

nav:
  - Overview: index.md
  - Documentation:
      - Kubernetes:
          - Kubeadm: configuration/kubeadm/kubeadm.md
      - OS:
          - Ubuntu: configuration/os/ubuntu.md
          - Flatcar: configuration/os/flatcar.md
      - Networking:
          - Calico: configuration/networking/calico.md
          - HA: configuration/networking/ha.md
      - Container Runtimes:
          - CRI-O: configuration/container_runtimes/crio.md
          - Containerd: configuration/container_runtimes/containerd.md
  - User Guides:
      - Bare-Metal: user-guides/bare-metal.md
      - AWS: user-guides/aws.md
      - OpenStack: user-guides/openstack.md
